@using System.IO
@using Filazor.Core.Data
@implements IDisposable

@inject FileSystemService FSService
@inject NavigationManager MyNavigationManager
@inject FileUploadEventNotifyService FileUploadEventNotifyService


<style>

    tr {
        /* Prevent text selection */
        user - select: none; /* standard syntax */
        -webkit - user - select: none; /* webkit (safari, chrome) browsers */
        -moz - user - select: none; /* mozilla browsers */
        -khtml - user - select: none; /* webkit (konqueror) browsers */
        -ms - user - select: none; /* IE10+ */
        cursor: default;
    }

    .row-selected {
        background-color: lightskyblue;
    }

    #file-detail-view tbody .tr-hover:hover {
        background-color: aliceblue;
        outline: 1px solid;
        outline-color: deepskyblue;
    }

</style>

<div class="clearfix border-bottom p-1 sticky-top" style="background-color: white;">

    <iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

    <form action="api/upload/fileUpload?uploadDirectory=@SelectedDirectoryPath" method="post" enctype="multipart/form-data" target="dummyframe">
        <label for="fileUpload" class="btn btn-outline-secondary float-right btn-sm mb-0">
            <i class="material-icons align-middle">cloud_upload</i>
            Upload
        </label>
        <input id="fileUpload" name="fileUpload" type="file" style="display: none;" onchange="this.form.submit()" multiple />
        <button type="button" class="btn btn-outline-secondary float-right btn-sm mr-2" @onclick="@(e => Download(selectedFile))">
            <i class="material-icons align-middle">cloud_download</i>
            Download
        </button>
        <button type="button" class="btn btn-outline-secondary float-right btn-sm mr-2" @onclick="@(e => Delete(selectedFile))">
            <i class="material-icons align-middle">delete</i>
            Delete
        </button>
    </form>
</div>

<table id="file-detail-view" class="table table-light table-sm small">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date modified</th>
                <th>Type</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody>
            @if ((IncludedDirectoryInfos == null || IncludedDirectoryInfos.Length == 0) && (IncludedFileInfos == null || IncludedFileInfos.Length == 0))
            {
                <tr>
                    <td colspan="5" style="text-align: center;">This folder is empty.</td>
                </tr>
            }
            else
            {
                @foreach (var dirInfo in IncludedDirectoryInfos)
                {
                    <tr class="tr-hover" @ondblclick="@(e => SelectedDirectory(dirInfo.FullName))">
                        <td>
                            <i class="material-icons align-middle" style="font-size: 18px; color: gold;">
                                folder
                            </i>
                            @dirInfo.Name
                        </td>
                        <td>@dirInfo.LastWriteTime</td>
                        <td>File folder</td>
                        <td></td>
                        <td></td>
                    </tr>
                }

                @foreach (var fileInfo in IncludedFileInfos)
                {
                    <tr @onclick="(e => SelectedFile(fileInfo))" @ondblclick="(e => Download(fileInfo.FullName))" class="tr-hover @(selectedFile == fileInfo.FullName ? "row-selected" : null)">
                        <td valign="middle">
                            <span class="oi oi-file" style="padding-left: 3px; margin-right: 2px; font-size: 14px; color: @(selectedFile == fileInfo.FullName ? "black" : "silver");"></span>
                            @fileInfo.Name
                        </td>
                        <td>@fileInfo.LastWriteTime</td>
                        <td>File</td>
                        <td style="text-align: right;">@GetFileSize(fileInfo)</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
<ModalDialog @ref="failDialog" />


@code {
    private string selectedFile;

    private ModalDialog failDialog;

    [Parameter]
    public string SelectedDirectoryPath { get; set; }

    [Parameter]
    public DirectoryInfo[] IncludedDirectoryInfos { get; set; }

    [Parameter]
    public FileInfo[] IncludedFileInfos { get; set; }

    [Parameter]
    public EventCallback<string> OnSelectedDirectory { get; set; }


    protected override Task OnInitializedAsync()
    {
        FileUploadEventNotifyService.FileUploadCompletedEvent += RefeshEvent;

        return base.OnInitializedAsync();
    }

    protected override Task OnParametersSetAsync()
    {
        return base.OnParametersSetAsync();
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

    private void RefeshEvent(object sender, EventArgs args)
    {
        OnSelectedDirectory.InvokeAsync(SelectedDirectoryPath);
    }

    private Task SelectedDirectory(string path)
    {
        return OnSelectedDirectory.InvokeAsync(path);
    }

    private void SelectedFile(System.IO.FileInfo fileInfo)
    {
        selectedFile = fileInfo.FullName;
    }

    private void Download(string path)
    {
        if (string.IsNullOrEmpty(path))
        {
            failDialog.Title = "Notice";
            failDialog.Message = $"Make sure you selected the file correctly, and then try again.";
            failDialog.Show = true;

            return;
        }

        MyNavigationManager.NavigateTo($"api/download/fileDownload?fileName={path}", true);
    }

    private async void Delete(string path)
    {
        if (string.IsNullOrEmpty(path))
        {
            failDialog.Title = "Notice";
            failDialog.Message = $"Make sure you selected the file correctly, and then try again.";
            failDialog.Show = true;

            return;
        }

        await FSService.DeleteFile(path);
        await SelectedDirectory(SelectedDirectoryPath);
    }

    private string GetFileSize(System.IO.FileInfo fileInfo)
    {
        if (fileInfo == null)
        {
            return "";
        }

        var result = fileInfo.Length / 1024.0;
        result = Math.Ceiling(result);

        return $"{result.ToString("#,###")}KB";
    }

    public void Dispose()
    {
        FileUploadEventNotifyService.FileUploadCompletedEvent -= RefeshEvent;
    }
}
